@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");

* {
	font-family: 'Comfortaa', cursive;
}

.link {
	color: black;
	font-size: .9em;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 4px;
	text-decoration: none !important;
	padding: 20px;
	margin: 0 auto;
}

.link:hover {
	color: orange;
}


#orderSumary {
	background-color: beige;

}
.btn-info {
	background-color: orange !important;
	border-color: orange !important;
}

.btn-info:hover {
	background-color: orange !important;
}

input {
	background-color: beige;
	border: none;
	text-align: center;
	outline: none;
}
.btn-info:hover, .btn-secondary:hover {
	transform: scale(1.1);
}

.price_info{
	position: absolute;
	right: 20px;
}

.btn-primary{
	background-color: orange !important;
    border-color: orange !important;
    outline: none;;
}