@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");

* {
	font-family: 'Comfortaa', cursive;
}

.link {
	color: black;
	font-size: .9em;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 4px;
	text-decoration: none !important;
	padding: 20px;
	margin: 0 auto;
}

.link:hover {
	color: orange;
}

#orderSumary {
	background-color: beige;

}